<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Birthdays</title>
    </head>
    <body>
        <div class="jumbotron">
            <h1>Birthdays</h1>
        </div>
        <div class="container">
            <div class="section">

                <h2>Add a Birthday</h2>
                <!-- Create a form for users to submit a name, a month, and a day -->
                <form action="/" method="post">
                    <input name="message" placeholder="Message" type="text" >
                    <input type="submit" value="Send">
                </form>
            </div>

            <div class="section">

                <h2>Messages</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Messages</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Loop through the database entries to display them in this table-->
                        {% for note in notes %}
                            <tr>
                                <td>{{ note.message_text }}</td>
                            </tr>
                        {% endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>